{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static  'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        {
            border-radius: 0
        ;
        }
    </style>
</head>
<body>
{# 导航 #}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">项目管理系统</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/project/list/">项目列表</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">登录</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Stewie<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">我的信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{# 表单 #}
<div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">新建项目</h3>
            </div>
            <div class="panel-body">
                <form method="post"{# 可以获取数据 #} class="form-horizontal">
                    {% csrf_token %}    {# 防止报错，具体原因不明 #}
                    <div class="form-group">
                        <label for="inputProjectName" class="control-label">项目编号</label>
                        <input type="text" class="form-control" id="inputProjectName" placeholder="请输入项目编号"
                        name="NUM_Project">
                    </div>
                    <div class="form-group">
                        <label for="inputProjectName" class="control-label">项目名称</label>
                        <input type="text" class="form-control" id="inputProjectName" placeholder="请输入项目名称"
                        name="NAME_Project">
                    </div>

                    <div class="form-group">
                        <label for="inputProjectType" class="control-label">项目类型</label>
                        <input type="text" class="form-control" id="inputProjectType" placeholder="请输入项目类型"
                        name="TYPE_Project">
                    </div>

                    <div class="form-group">
                        <label for="inputProjectAddress" class="control-label">项目地址</label>
                        <input type="text" class="form-control" id="inputProjectAddress" placeholder="请输入项目地址"
                        name="ADDRESS_Project">
                    </div>

                    <div class="form-group">
                        <label for="inputProjectValue" class="control-label">项目价值</label>
                        <input type="text" class="form-control" id="inputProjectValue" placeholder="请输入项目价值"
                        name="VALUE_Project">
                    </div>

                    <div class="form-group">
                        <label for="inputProjectStartDate" class="control-label">项目开始时间</label>
                        <input type="date" class="form-control" id="inputProjectStartDate"
                               placeholder="请输入项目开始时间" name="START_Project">
                    </div>

                    <div class="form-group">
                        <label for="inputProjectEndDate" class="control-label">项目结束时间</label>
                        <input type="date" class="form-control" id="inputProjectEndDate"
                               placeholder="请输入项目结束时间" name="END_Project">
                    </div>

                    <div class="form-group">
                        <label for="inputProjectDescription" class="control-label">项目描述</label>
                        <input type="text" class="form-control" id="inputProjectDescription"
                               placeholder="请输入项目描述" name="DESC_Project">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>